:root {
    --10kV-clr: hsl(2.7, 51.7%, 65.9%);
    --35kV-clr: hsl(60, 91.7%, 76.5%);
    --66kV-clr: hsl(48, 100%, 50%);
    --110kV-clr: hsl(199.3, 100%, 59.2%);
    --220kV-clr: hsl(300, 52.2%, 59%);
    --330kV-clr: hsl(91.2, 63.4%, 48.2%);
    --500kV-clr: hsl(354.8, 100%, 63.9%);
    --660kV-clr: hsl(29.3, 90.5%, 49.6%);
    --750kV-clr: hsl(29.5, 95.5%, 35.1%);
    --800kV-clr: hsl(240, 100%, 65.1%);
    --1000kV-clr: hsl(240, 100%, 50%);
}

body {
    // font-size: 1.5vh;
    position: relative;
    overflow: hidden;
    --h: 0.5;

    jam-notify {
        font-size: var(--jam-typography-font-size-l);
        z-index: 9999;
    }
}

.jam-card-title-hover {
    cursor: pointer;

    &:hover {
        color: var(--jam-color-primary-strong) !important;
    }
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .header,.tsHeader {
        height: 4rem;
        z-index: 1;
        width: 100%;
        display: flex;
        gap: var(--jam-space-m);
        align-items: center;
        justify-content: space-between;

        .logo {
            min-height: 1rem;
            margin-left: var(--jam-space-m);
            min-width: 3rem;
        }

        .header-title {
            height: 100%;
            background-size: 100% 100%;
        }

        .composable-action {
            margin-right: var(--jam-space-s);

            [slot='cap'] {
                width: max-content;
            }
        }

        --jam-icon-font-size: var(--jam-typography-font-size-l);

    }

    .search-btn {
        margin-right: var(--jam-space-s);
    }
}

#sidebar-wrapper {
    transition: width 400ms;
    z-index: 1;
    width: 15rem;
    min-width: 0px;
    flex: 1 1 0%;
    overflow: hidden;
    white-space: nowrap;

    .sidebar-name {
        padding: var(--jam-space-xxs) var(--jam-space-s);
        margin: var(--jam-space-xxs) 0;
        cursor: pointer;
        font-size: var(--jam-typography-font-size-m);
    }
}

@keyframes shake-top {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }

    10% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(-4deg);
    }

    30% {
        transform: rotate(4deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    40% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }
}

// 给组态化嵌入的iframe卡片card的border去掉
[id*="iframeCard_"] {
    border: none;
}

.single-widgets {
    [slot='body'] {
        display: grid;
        place-items: stretch;
        place-content: stretch;
    }

    .widgets-group,
    .jam-cc {
        width: 100% !important;
        height: 100% !important;
        min-width: 0;
        min-height: 0;
        border: none !important;
    }
}
