.power-outage-statistics {
    display: flex;
    flex-direction: column;
    padding: var(--jam-space-m);
    box-sizing: border-box;

    .form-box {
        display: flex;
        flex-direction: column;
    }

    .chart-box {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .chart-pie {
            width: 100%;
            height: calc(100% - 2.5rem);
            margin-top: var(--jam-space-l);
        }
    }

    .table-box {
        display: flex;
        flex-direction: column;
    }
}
